@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .max-container {
    margin: 0 auto;
    width: 1450px;
  }

  .mask {
    mask-image: linear-gradient(to bottom, transparent 1%, #000000 15%, #000 95%, transparent 99%);
  }

  .mask-container {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%)
  }

  .animation-record {
    animation: record 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    ;
  }


}

@layer components {
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

  }

  .slider .inner_slider {
    /* width: min-content; */

    animation: slide var(--slide-speed) var(--animation-direction, forwards) linear infinite;
  }

  .slider[data-direction="right"] {
    --animation-direction: reverse;
  }

  .slider[data-direction="left"] {
    --animation-direction: forwards;
  }


  .inner_slider:hover {
    animation-play-state: paused;
  }

  .slide_item {
    transition: filter 0.5s;
  }

}

@keyframes slide {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes record {

  50% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}